@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}
* {
    box-sizing: border-box;
}
body {
    background-color: C8C8C8;
    font-family:Manrope;
    padding:0 20px;
    margin:0 20px;

    .container{
        max-width: 1440px;
        padding: 0px 22px;
    }
    container-header {
display:flex;
align-items:center;
justify-content:space-between;
    }
.banner {
    min-height: 340px;
    padding:50px 50px 100px 30px;
    border-radius: 30px;
    color: white;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}


}